
.navigation {
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
}

.div-navbar {
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding-top: 2em;
}

.logo {
	height: 2.5em;
	filter: invert(18%) sepia(19%) saturate(301%) hue-rotate(184deg) brightness(94%) contrast(96%);
}

.banner {
	display: flex;
	width: 85%;
	height: 20em;
    margin: auto;
    justify-content: space-between;
    padding-top: 4em;
}

.presentation-container {
	margin-top: 2em;
}

.presentation {
	font-family: 'Inter', sans-serif;
	color: #2E3138;
	font-size: 3.2em;
	margin-bottom: 0.3em;
    margin-top: 0;
}

#avatar {
    display: flex;
    height: 22em;
}

.containers {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.headers {
	font-family: 'Inter', sans-serif;
	font-size: 160px;
	font-weight: 900;
    letter-spacing: -0.02em;
    text-align: left;
	z-index: 10;
	margin-bottom: -0.35em;;
	align-self: flex-start;
	color: #2E3138;
}


.grid-top {
	height: 32em;
	width: 100%;
	background-color: #A8E0FF;
}

.grid-down {
	display: flex;
}

.grid-down-1 {
	width: 50%;
	height: 34em;
	background-color: #ffc857;
}

.grid-down-2 {
	width: 50%;
	height: 34em;
	background-color: #046e8f;
	display: flex;
    justify-content: center;
}

.grid-pink {
	background-color: #f59797;
}

a {
	text-decoration: none;
}

.content-info {
	display: flex;
	justify-content: center;
	color: #2E3138;
	flex-direction: column;
	align-items: center;
}

.content-contact {
	display: flex;
	flex-direction: column;
	margin: 4em 3em 0 3em;
}

.content-skills {
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 4em;
}

.grid-skills {
	background-color: #f59797;
	height: 27em;
}

.grid-pink {
	background-color: #f59797;
}

.grid-lightblue {
	background-color: #A8E0FF;
}

.grid-yellow {
	background-color: #ffc857;
}

.links-project {
	display: flex;
}

.icons-links {
	height: 2.8em;
    margin: 0 1.2em;
}

.icons-links-white {
	filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(45deg) brightness(114%) contrast(109%);
}

.icon-expo {
	height: 2.3em;
}

.icon-skills {
	height: 7em;
}

#logo-social-network {
	height: 8em;
}

#logo-burger {
	height: 8em;
}

#logo-terminal {
	height: 8em;
}

#logo-location {
	height: 8em;
}

.title-item {
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	margin: 0.5em 0 0.5em 0;
}

.black-item {
	color: #2E3138;
}

.rose-item {
	color: #d87a7b;
}

.description-project {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	color: #2E3138;
}

.description-project-top {
	margin: 1em 10em;
}

.description-project-bottom {
	margin: 1em 2em;
}

.icon-created {
	height: 2em;
	margin-right: 0.3em;
}

.p-created {
	margin-top: 0;
	font-weight: bold;
	font-size: 19px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.coffee {
	display: flex;
	height: 50%;
}

.contact-icon {
	height: 4em;
    margin-right: 1.5em;
}

.contact-icon-div {
	margin-top: 1em;
}

.white-item {
	color: whitesmoke;
}

#a-mail {
	font-size: 36px;
}

#a-mail:hover {
	color: rgb(95, 98, 105);
}

.span-created {
	margin-right: 0.5em;
}

/* CSS del typwwritter */
.hidden {
  opacity:0;
}
.console-container {
  font-family:'Inter';
  font-size: 3em;
  text-align: left;
  height: 200px;
  width: 600px;
}
.console-underscore {
   display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/* Fin del CSS del typwwritter */

.nav-list {
	list-style: none;
	margin: 0 1em;
	color: #2E3138;
	transition: color 0.3s;
}

.nav-ul {
	display: flex;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	
}

.nav-list:hover {
	color: #d87a7b;
}

  /* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Buzz Out */
  @-webkit-keyframes hvr-buzz-out {
	10% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  -webkit-transform: translateX(1px) rotate(0);
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  -webkit-transform: translateX(-1px) rotate(0);
	  transform: translateX(-1px) rotate(0);
	}
  }
  @keyframes hvr-buzz-out {
	10% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  -webkit-transform: translateX(2px) rotate(1deg);
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  -webkit-transform: translateX(-2px) rotate(-1deg);
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  -webkit-transform: translateX(1px) rotate(0);
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  -webkit-transform: translateX(-1px) rotate(0);
	  transform: translateX(-1px) rotate(0);
	}
  }
  .hvr-buzz-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }

  /* Grow Rotate */
.hvr-grow-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
	-webkit-transform: scale(1.1) rotate(4deg);
	transform: scale(1.1) rotate(4deg);
  }


/* Navigation bar */
  .snip1164 {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
  }
  
  .snip1164 * {
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  }
  
  .snip1164 li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 0.8em;
	overflow: hidden;
  }
  
  .snip1164 a {
	padding: 0.3em 0.8em;
	color: #2E3138;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	margin: 0;
	text-decoration: none;
  }
  
  .snip1164 a:before,
  .snip1164 a:after {
	position: absolute;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
  }
  
  .snip1164 a:before {
	bottom: 100%;
	display: block;
	height: 3px;
	width: 100%;
	content: "";
  }
  
  .snip1164 a:after {
	padding: 0.3em 0.8em;
	position: absolute;
	bottom: 100%;
	left: 0;
	content: attr(data-hover);
	color: white;
	white-space: nowrap;
	background-color: #f59797;
  }
  
  .snip1164 li:hover a,
  .snip1164 .current a {
	transform: translateY(100%);
  }
  
  .snip1164 .yellow-a:after {
	background-color: #ffc857;
  }

  .snip1164 .light-blue-a:after {
	background-color: #A8E0FF;
  }

  .snip1164 .blue-a:after {
	background-color: #046e8f;
  }

@media (max-width: 1020px) {
	.coffee {
		height: 50%;
		width: 100%;
	}
};

@media screen and (max-width: 700px) {
	.snip1164 {
		display: none;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	visibility: hidden;
	width: 120px;
	background-color: #fff;
	color: #2E3138;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	margin-top: 0.5em;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }