
.navigation {
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 2em;
}

.logo {
	height: 2.5em;
	filter: invert(18%) sepia(19%) saturate(301%) hue-rotate(184deg) brightness(94%) contrast(96%);
}

.banner {
	display: flex;
	width: 85%;
	height: 20em;
    margin: auto;
    justify-content: space-between;
    padding-top: 4em;
}

.presentation-container {
	margin-top: 2em;
}

.presentation {
	font-family: 'Inter', sans-serif;
	color: #2E3138;
	font-size: 3.5em;
	margin-bottom: 0.3em;
    margin-top: 0;
}

#avatar {
    display: flex;
    height: 22em;
}

.containers {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.headers {
	font-family: 'Inter', sans-serif;
	font-size: 160px;
	font-weight: 900;
    letter-spacing: -0.02em;
    text-align: left;
	z-index: 10;
	margin-bottom: -0.35em;
	align-self: flex-start;
	color: #2E3138;
}


.grid-top {
	height: 30em;
	width: 100%;
	background-color: #A8E0FF;
}

.grid-down {
	display: flex;
}

.grid-down-1 {
	width: 50%;
	height: 30em;
	background-color: #ffc857;
}

.grid-down-2 {
	width: 50%;
	height: 30em;
	background-color: #046e8f;
}

a {
	text-decoration: none;
	text-align: left;
}

.content-info {
	display: flex;
	justify-content: center;
	margin-top: 5em;
	color: #2E3138;
	flex-direction: column;
	align-items: center;
}

#logo-social-network {
	height: 8em;
}

#logo-burger {
	height: 8em;
}

#logo-terminal {
	height: 8em;
}

.title-item {
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	margin: 0.5em 0 0.5em 0;
}

.black-item {
	color: #2E3138;
}

.white-item {
	color: whitesmoke;
}

.hidden {
  opacity:0;
}
.console-container {
  font-family:'Inter';
  font-size:3.5em;
  text-align: left;
  height:200px;
  width:600px;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}