
.navigation {
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: center;
}

.div-navbar {
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding-top: 2em;
}

.logo {
	height: 2.5em;
	filter: invert(18%) sepia(19%) saturate(301%) hue-rotate(184deg) brightness(94%) contrast(96%);
}

.banner {
	display: flex;
	width: 85%;
	height: 20em;
    margin: auto;
    justify-content: space-between;
    padding-top: 4em;
}

.presentation-container {
	margin-top: 2em;
}

.presentation {
	font-family: 'Inter', sans-serif;
	color: #2E3138;
	font-size: 3.2em;
	margin-bottom: 0.3em;
    margin-top: 0;
}

#avatar {
    display: flex;
    height: 22em;
}

.containers {
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.headers {
	font-family: 'Inter', sans-serif;
	font-size: 160px;
	font-weight: 900;
    letter-spacing: -0.02em;
    text-align: left;
	z-index: 10;
	margin-bottom: -0.35em;;
	align-self: flex-start;
	color: #2E3138;
}


.grid-top {
	height: 35em;
	width: 100%;
	background-color: #A8E0FF;
}

.grid-down {
	display: flex;
}

.grid-down-1 {
	width: 50%;
	height: 34em;
	background-color: #ffc857;
}

.grid-down-2 {
	width: 50%;
	height: 34em;
	background-color: #046e8f;
	display: flex;
    justify-content: center;
}

a {
	text-decoration: none;
	text-align: left;
}

.content-info {
	display: flex;
	justify-content: center;
	color: #2E3138;
	flex-direction: column;
	align-items: center;
}

.content-contact {
	display: flex;
	flex-direction: column;
	margin: 4em 3em 0 3em;
}

.content-skills {
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 4em;
}

.grid-skills {
	background-color: #f59797;
	height: 27em;
}

.grid-pink {
	background-color: #f59797;
}

.grid-lightblue {
	background-color: #A8E0FF;
}

.links-project {
	display: flex;
}

.icons-links {
	height: 2.8em;
    margin: 0 1.2em;
}

.icons-links-white {
	filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(45deg) brightness(114%) contrast(109%);
}

.icon-skills {
	height: 7em;
}

#logo-social-network {
	height: 8em;
}

#logo-burger {
	height: 8em;
}

#logo-terminal {
	height: 8em;
}

.title-item {
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	margin: 0.5em 0 0.5em 0;
}

.black-item {
	color: #2E3138;
}

.white-item {
	color: whitesmoke;
}

.rose-item {
	color: #d87a7b;
}


.description-project {
	font-family: 'Source Sans Pro';
    font-size: 22px;
}

.description-project-top {
	margin: 1em 10em;
}

.description-project-bottom {
	margin: 1em 2em;
}

.icon-created {
	height: 2em;
	margin-right: 0.3em;
}

.p-created {
	margin-top: 0;
	font-weight: bold;
	font-size: 19px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.coffee {
	display: flex;
	height: 50%;
}

.contact-icon {
	height: 4em;
    margin-right: 1.5em;
}

.contact-icon-div {
	margin-top: 1em;
}

#a-mail {
	font-size: 40px;
}

#a-mail:hover {
	color: rgb(95, 98, 105);
}

.span-created {
	margin-right: 0.5em;
}

.hidden {
  opacity:0;
}
.console-container {
  font-family:'Inter';
  font-size: 3em;
  text-align: left;
  height: 200px;
  width: 600px;
}
.console-underscore {
   display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

  
  .nav-toggle {
	position: relative;
	padding: 10px;
	background: transparent;
	border: 1px solid transparent;
	margin: 7px 0;

  }
  
  .nav-toggle:focus {
	outline-width: 0;
  }
  
  .nav-toggle [class*='bar-'] {
	background: #2E3138;
	display: block;
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transition: .2s ease all;
			transition: .2s ease all;
	
	
	

	 border-radius: 2px;
	 height: 2px;
	 width: 35px;
	 margin-bottom: 6px;
	
  }
  
  .nav-toggle .bar-bot {
	margin-bottom: 0;
  }
  
  .opened .bar-top {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-transform-origin: 15% 15%;
			transform-origin: 15% 15%;
  }
  .opened .bar-mid {
	opacity: 0;
  }
  .opened .bar-bot {
	-webkit-transform: rotate(45deg);
			transform: rotate(-45deg);
	-webkit-transform-origin: 15% 95%;
			transform-origin: 15% 95%;
  }

